img{
	width: 30%;
	margin: 0 auto;
	display: block;
	max-height: 50%;
}

h2{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin: 20px 0;
}

main{
	padding: 20px;
	margin-top: 0;
}