{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Торговый Дом "Агро-багро"</title>
<link rel="stylesheet" href="{% static "css/reset.css" %}">
	<link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/news1.css" %}">

	<script src=" http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="{% static "js/jquery.bxslider.min.js" %}"></script>
	<link href="{% static "css/jquery.bxslider.css" %}" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.3.5/css/lightgallery.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.3.5/js/lightgallery.min.js"></script>
	<script src={% static "js/main.js" %}></script>
</head>
<body>
	<div class="wrapper">
		<header>
			<div class="header-top">
				<!-- <div class="adres header-text"><b>ул. Пушкина, 11 <br>Бердянск <br>Запорожская область <br>Украина</b></div>
				<div class="logo">
					<a href="#"><img src="img/logo.png" alt=""></a>
				</div>
				<div class="telefoni header-text"> <b>(050) 067-72-71 <br>(098) 491-02-42 <br>(06153) 7-000-5 <br><span class="lower-font">torgagroservice@gmail.com</span></b>
				</div>
				<div class="clearfix"></div> -->
			</div>
			<nav>
				<ul>
                    <li><a href="{% url "agro:HomePage" %}"><span>Главная</span></a></li>
					<li><a href="{% url "agro:CategoryList" %}">Продукция</a>
						<ul class="sub-menu">
                            {% for topic in topics %}
                                <li><a href="{% url "agro:CategoryPage" topic.id %}">{{ topic.name }}</a></li>
                            {% endfor %}
						</ul>
					</li>
					<li><a href="{% url "agro:rewiews" %}">Отзывы</a></li>
					<li><a href="{% url "agro:news" %}">Новости</a></li>
					<li><a href="{% url "agro:contacts" %}">Контакты</a></li>
                </ul>
			</nav>
		</header>
		<div class="bg-fix">
            <div class="slider">
				<ul class="bxslider">
                    {% for item in items%}
                        <li><a href="{{ item.url }}"><img src="{{ item.image.url }}" /></a></li>
                    {% endfor %}
				</ul>
			</div>
			<main>
				<div class="article">
					<div class="content">
						<div class="news">
                            {% if instance.image %}
							    <img src="{{ instance.image.url }}" alt="">
							{% endif %}
                            <div class="text">
								<h2>{{ instance.title }}</h2>
                                <p> {% autoescape off %}{{ instance.content|linebreaks }}{% endautoescape %} </p>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</main>
		</div>
		
		
		<footer>
			<div class="footer-nav">
				<ul>
                    <li><a href="{% url "agro:HomePage" %}"><span>Главная</span></a></li>
					<li><a href="production.html">Продукция</a>
						<ul class="sub-menu">
                            {% for topic in topics %}
                                <li><a href="{% url "agro:CategoryPage" topic.id %}">{{ topic.title }}</a></li>
                            {% endfor %}
						</ul>
					</li>
					<li><a href="feedbacks.html">Отзывы</a></li>
					<li><a href="{% url "agro:news" %}">Новости</a></li>
					<li><a href="contacts.html">Контакты</a></li>
				</ul>
			</div>
			<div>Наш адрес: ул. Пушкина, 11, г. Бердянск, Запорожская обл., Украина, 71100</div>
			<div>Телефоны: (050) 522-36-65, (097) 595-05-05</div>
			<div>Email: torgagroservice@gmail.com </div>
		</footer>
	</div>
</body>
</html>